$font-stack: Atyp, sans-serif;
$primary-color: #005A5A;
$dark: #005A5A;
$light: #78DC78;
$white: #FFFFF;
$theme-colors: (
        "white": #FFFFFF,
        "light": #78DC78,
        "dark": #005A5A
);

body {
  font: 100% $font-stack;
  //color: $primary-color;
}

.btn-check:focus + .btn-primary, .btn-primary:focus, .btn-primary:hover {
  box-shadow: 0 4px 11px rgb(0 90 90 / 35%);
  background-color: $dark;
  //color: $white;
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
  color: $white;
  background-color: $light;
  border-color: $white;
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
  border-color: $light;
}

.list-checked-soft-bg-primary .list-checked-item::before {
  background-image: url("./assets/svg/tick.svg");
  //background-image: url("/");
}

button:focus, .go-to:hover {
  outline-color: rgba($light, .5);
  border-color: $light;
}

.go-to:focus:hover, .go-to:hover {
  color: #fff;
  background-color: $light;
  opacity: 1;
}


go-to:focus + .btn-primary, .go-to:focus, .go-to:hover {
  background-color: $light;
}

.btn-primary, js-go-to {
  border-color: $dark;
  background-color: $dark;
}


a {
  color: $light;
  text-decoration: none;
}

a:focus +, a:focus, a:hover {
  color: $dark;
}

.text-primary {
  --bs-text-opacity: 1;
  color: $light !important;
}

.step-icon-soft-primary {
  color: $light;
  background-color: rgba(120, 120, 120, .1);
}

@font-face {
  font-family: 'Atyp';
  src: local('Atyp Semibold'), local('Atyp-Semibold'),
  url('../fonts/AtypDisplay-Semibold.woff2') format('woff2'),
  url('../fonts/AtypDisplay-Semibold.woff') format('woff'),
  url('../fonts/AtypDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Atyp';
  src: local('Atyp Medium'), local('Atyp-Medium'),
  url('../fonts/AtypDisplay-Medium.woff2') format('woff2'),
  url('../fonts/AtypDisplay-Medium.woff') format('woff'),
  url('../fonts/AtypDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

.navbar-brand-logo {
  width: 100%;
  min-width: 19.5rem;
  max-width: 19.5rem;
}
